@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ddead1;
}

.content {
    display: flex;
    height: 100vh;
    margin-left: 90px;
}

.right, .left {
    width: 20px;
    height: 100%;
}

.left {
    width: 40vw;
    background: #c7ddb5;
}

.right {
    width: 60vw;
    background: #f6f6f6;
}

.map {
    margin: 20px;
    width: calc(60vw - 40px);
    border: 1px solid black;
}

.btn1, .btn2 {
    border: 1px solid red;
    padding: 0 10px;
}

.switch {
    width: 40vw;
    margin: 35px auto;
    border: 3px solid #c7ddb5;
    position: relative;
    border-radius: 30px;
    background: #c7ddb5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 20vw; /* Ajusta a largura do botão */
    height: 50px;
    background: #fff;
    border-radius: 30px;
    display: flex; /* Adiciona flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    transition: .5s;
    color: white; /* Adiciona cor ao texto */
}

.map {
    min-height: 40vw;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.controls input{
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 20px;
    width: 23vw;
    margin-right: 10px;
}

.controls button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

/*info*/

.info {
    background-color: #fdf3dc; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Poppins', sans-serif; 
    color: #333; 
    max-width: 400px; 
    margin: 20px auto; 
}

.info h3 {
    margin-bottom: 10px; 
    font-size: 24px; 
    color: #333; 
}

.info p {
    margin: 5px 0; 
    line-height: 1.6; 
    min-height: none;
    min-width: none;
}

.d-block{
    display: block; 
    margin: 10px 0; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    position: relative;
}

.info button {
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-size: 16px; 
    display: inline-block; 
    margin-top: 10px; 
    background-color: #d81616;
}

.info button:hover {
    background-color: #d32f2f; 
}


.carousel-control-prev:hover, .carousel-control-next:hover{
    background: transparent;
}

.carousel-control-prev,
.carousel-control-next {
    transition: opacity 0.5s ease;
}

.carousel-indicators {
    transition: opacity 0.5s ease;
}

/* Estilo do Formulário */
#form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form h3 {
    margin-bottom: 20px;
    text-align: center;
}

#form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#form input[type="text"],
#form textarea,
#form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#form input[type="file"] {
    margin-top: 10px;
}

#form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form button:hover {
    background-color: #0056b3;
}
