* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/*#final {
    font-weight: bold;
    color: antiquewhite;
}

.extremidade{
    background-color: rgb(178, 211, 140);  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}*/

/*header{
    min-height: 20vh;
    overflow: hidden;
    border-radius: 0 0 0.5em 0.5em;
}

footer{
    min-height: 6vh;
    border-left: groove 1.2em;
    border-right: ridge 1.2em;
    border-color:rgb(134, 185, 75);

}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.cardImage{
    position: relative;
    width: 20vh;
    height: 20vh;
    background: #fff;
    border-radius: 15%;
    padding: 0.15em;
}

.cardImage .cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
    border: 0.2em solid #619986;
}

.card{
    border-radius: 5%;
    background-color: #fff;
}

.conteudo{
    margin:0 12em;
    overflow: hidden;
    border-radius: 15px;
}
.conteudoImg,
.conteudoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em 0.9em;
}

.conteudoImg{
    position: relative;
    row-gap: 5px;
    padding: 1.2em 0;
}

.overlay{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #45736A;
    border-radius: 5%;
}

.nome{
    font-size: 1.1em;
    font-weight: bold;
    color:#45736A;
}

.descricao{
    font-size: 0.9em;
    color:black;
    text-align: center;
}

.botao{
    border:none;
    font-size: 1em;
    color:#fff;
    padding:0.5em 1em;
    background-color:#4D6E72;
    border-radius: 0.5em;
    margin:0.9em;
    cursor: pointer;
    transition:all 0.3s ease;
}

.botao:hover{
    background-color: #619986;
    border-radius: 1em;
}

.swiper-navBtn{
    color:#4D6E72;
    transition: color 0.3s ease;
    padding: 2em;

}

.swiper-navBtn:hover{
    color:#4D6E72;
    font-weight: bolder;
}

.swiper-pagination-bullet{
    background-color: #6DA0A6;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #6DA0A6;
}

.slide-container{ 
    max-width: 80vw;
    padding: 2.5em 0;
    width: 100%;
}

.principal img{
    max-height: 14vh;
    width: 14vw;
    border-radius: 1rem;
}


main{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}
