/* Reset básico e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --cor-primaria: #7cf0d3;
}

body{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Estilo para card de imagem */
.cardImage {
    position: relative;
    width: 20vh;
    height: 20vh;
    background: #fff;
    border-radius: 15%;
    padding: 0.15em;
}

/* Estilo para imagem dentro do card */
.cardImage .cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
    border: 0.2em solid #45736A;
}

/* Estilo para cards gerais */
.card {
    min-height: 250px;
    border-radius: 5%;
    background-color: #fff;
    overflow: hidden;
}

/* Estilo para sub-elementos de conteúdo */
.conteudoImg,
.conteudoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em 0.9em;
}

/* Estilo específico para conteúdo de imagem */
.conteudoImg {
    position: relative;
    row-gap: 5px;
    padding: 1.2em 0;
}

/* Estilo para overlay (sobreposição/divisória) */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #45736A;
    border-radius: 5%;
}

/* Estilo para o nome */
.nome {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #45736A;
}

/* Estilo para a descrição */
.descricao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
    color: black;
    text-align: center;
}

/* Estilo para o botão */
.botao {
    border: none;
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1em;
    background-color: #4D6E72;
    border-radius: 0.5em;
    margin: 0.9em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Estilo quando passa o mouse no botão */
.botao:hover {
    background-color: #619986;
    border-radius: 1em;
}

/* Estilo para botões de navegação do swiper (setinhas) */
.swiper-navBtn {
    color: #4D6E72;
    transition: color 0.3s ease-in-out;
}

/* Estilo quando passa o mouse nos botões de navegação do swiper (setinhas) */
.swiper-navBtn:hover {
    color: #4D6E72;
    font-weight: bolder;
}

header{
  position: relative;
  animation: mymove ease-in-out;
  animation-duration: 4s;
}

.footer{
  display: flex;
  justify-content: center;
  position: relative;
  animation: mymove ease-in-out;
  animation-duration: 10s;
  width: 100vw;
  padding-bottom: 8vh;
}

@keyframes mymove {
  0% {bottom: -50vh;
  }
  50%{bottom: 0;
  }
}


.swiper-button-prev{
  animation: btnPrev ease-in-out;
  animation-duration: 7s;
  top: 55vh;
  position: absolute;
  padding-left: 10vw;
}

.swiper-button-next{
  padding-right: 10vw;
  top: 55vh;
  animation: btnNext ease-in-out;
  animation-duration: 7s;
  position: absolute;
}

@keyframes btnPrev{
  from {left: -9vw;}
  to {left: 0;}
}

@keyframes btnNext{
  from {right: -9vw;
  }
  to {right: 0;}
}

/* Estilo para bullets de paginação do swiper (bolinhas em baixo)*/
.swiper-pagination-bullet {
    background-color: #6DA0A6;
    opacity: 1;
}

/* Estilo para bullets de paginação ativas do swiper(bolinhas em baixo[parte central]) */
.swiper-pagination-bullet-active {
    background-color: #4D6E72;
}

/* Estilo para container do slide */
.slide-container {
    /*background-image: url('imagens/paisagem.jpeg');
    background-size: cover;
    border: 2px solid white;
    border-radius: 2em;
    backdrop-filter: blur(10px);
    background-position: center;*/
    max-width: 60vw;
    padding: 2.5em 0;
    width: 100%;
    min-height: 52vh;
    position: relative;
    animation: mymove ease-in-out;
    animation-duration: 7s;
    display: flex;
}

@media only screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
  .wrapper{
    max-height: 30vh;
  }
  .navbar-mobile{
    position: relative;
  }
  header{
    min-height: 0;
    height: 1vh;
    justify-content: center;
  }

  .slide-container{
    justify-content: center;
  }

  .form{
    min-width: 10rem;
  }

  .cardImage{
    height: 8em;
    width: 8em;
  }

  .conteudoCard a{
    position: absolute;
    bottom: 0;
  }
  .card{
    border-radius: 1em;
  }

@media only screen and (max-width: 300px){
  .slide-container{
    padding: 0;
    max-width: 100vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

/* Estilo para imagem principal */
.principal img {
    max-height: 14vh;
    width: 14vw;
    border-radius: 1rem;
  }
}

/* Estilo para header */
header {
  display: flex;
  overflow: hidden;
  min-width: 100vw;
  min-height: 22vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Estilo para seção cadastrar */
.cadastrar {
  padding: 20px 50px;
}
.relative{
  margin-top: 1em;
}

.swiper-pagination{
  margin: 1em;
}

/* Estilo para a seção principal */
main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

body{
  background-color: #44b88b8f;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  max-height: 100vh;
  overflow: hidden;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.form {
  --timing: 0.3s;
  --width-of-input: 25vw;
  --height-of-input: 5vh;
  --border-height: 0.1em;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 5em;
  --after-border-radius: 0.01em;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
}

.shadow__btn {
    margin-top: 2em;
    min-width: 15vw;
    min-height: 7vh;
    padding: 10px 20px;
    border: none;
    font-size: 25px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .shadow__btn {
    background: var(--cor-primaria);
    box-shadow: 0 0 25px var(--cor-primaria);
  }
  
  .shadow__btn:hover {
    min-width: 16vw;
    min-height: 8vh;
    font-size: 30px;
    font-weight:900;
    box-shadow: 0 0 5px var(--cor-primaria),
                0 0 20px var(--cor-primaria),
                0 0 40px var(--cor-primaria),
                0 0 10px var(--cor-primaria);
  }

.segurar{
  cursor: pointer;
}

  /* Estilo para aplicar o blur */
.blur {
  backdrop-filter: blur(5px);
  transition: filter 1s ease-in-out;
}
