* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, rgb(219, 238, 207),rgb(132, 211, 80));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox{
    padding:1.2rem;
    position: relative;
}

.inputUser{
    background:none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 0.6em;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    padding-left: 1.2em;
    position: absolute;
    top:0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top:-1em;
    font-size: 0.8em;
    color:rgb(132, 211, 80)
}

.noWrite{
    border:none;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none;
    font-size: 0.6em;
}

.box{
    width: 40%;
    position: absolute;
    background-color:rgba(0,0,0,0.6);
    padding:1em;
    border-radius: 1em;
    color: white;

}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    cursor: pointer;
    font-size: 1em;
    background-color: rgb(132, 211, 80);
    color: white;
    padding:1em;
    border:none;
    width: 100%;
    border-radius: 1em;
    font-weight: bold;
}

#submit:hover{
    transition: 0.3s ease;
    background-color: rgb(97, 197, 30);
}

fieldset{
    padding: 1em;
    border:0.1em solid rgb(132, 211, 80);
    border-radius: 0.5em;
}

legend{
    border:1px solid rgb(132, 211, 80);
    padding: 1em;
    text-align: center;
    background-color: rgb(132, 211, 80);
    border-radius: 0.5em;
}
